{
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "globals": {
    "fetch": true
  },
  "extends": [
    "airbnb",
    "plugin:ava/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "ava",
    "prettier"
  ],
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  },
  "prettier/prettier": [
    "error",
    {
      "singleQuote": true,
      "trailingComma": "all",
    },
  ]
}
